.form-team {
    display: flex;
    justify-content: center;
    margin: 80px 0;
}

.form-team form {
    max-width: 80%;
    background-color: #f2f2f2;
    border-radius: 20px;
    padding: 36px 64px;
    box-shadow: 8px 8px 16px (rgba(0, 0, 0, 0.08));
}

.form-team label {
    display: block;
    margin-bottom: 8px;
    font-size: 24px;
}

.form-team .pick-color {
    width: 60px;
    height: 40px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
}